<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container"> 
        <a href="#" class="navbar-brand">Treebook</a>
        <ul class="nav navbar-nav">
          <li><%= link_to "All statuses", statuses_path %></li>
        </ul>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
   
  <div class="container">
    <%= yield %>
  </div>
  
</body>
</html>
